/*----------------------------------------------
   Whole style for the online shopping website
----------------------------------------------*/
body{
	font-family: Verdana, Times, serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #494949;
    margin: 0;
    padding: 0;
    background-image: url("img/bottom_half.png");
    background-repeat: repeat;
}

/*----for heading------*/
h1{
	font-family: Verdana, Times, serif;
    font-size: 24px;
    color: #000000;
}

/*-------for main content---------*/
.content{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

#header{
    color: #000000;
	position: relative;
	padding: 0;
    margin-bottom: 0px;
} 

#header h1{
	margin: 0;
	padding: 10px 10px 10px 10px;
	color: #ffffff;
	line-height: 200%;
	border: none;
	font-weight: bold;
	font-size: 24px;
	font-family: Arial, Georgia, Serif;
}

#body{
	background-color: #ffffff;
	height: 2px;
	margin-bottom: 20px;
	padding: 20px 20px 10px 20px;
}



/*-----------For table-----------*/
table{
	border: 0px;
	border-collapse: separate;
}

table th{
	padding: 5px 5px;
	background-color: #bbcdde;
	text-align: left;
	font-size: 14px;

}
table td{
	padding: 5px 5px;
	font-size: 14px;
}